/* CSS variables / custom properties */
:root {
    /* shortcut to change font once, instead of type in everytime */
    --sans-serif-font: 'PT Sans', sans-serif
  }
  
  
  html,body{
      min-height: 100vh;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }

  body{
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;

    background-image: url("assets/Slide/Slide-1-Dark.jpg");
    /* Unknown - Bing.com, (2020), Human Eye Creative Blue Background [ONLINE]. 
    Available at: https://besthqwallpapers.com/download/original/37260 
    [Accessed 4 September 2020]. */
    
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--sans-serif-font)
  }
  
  .header{
      position: absolute;
      min-width: 100%;
      display: grid;
      grid-template-columns: auto 1fr auto;
      z-index: 9999;
  }
  
  
  .logo{
      max-width: 80px;
      padding: 4em;
  }
  
main{
background-color: rgb(0,0,0,0.7);
height: 80vh;
margin-top: 22vh;
margin-bottom: 10vh;
margin-left: 10vh;
margin-right: 10vh;
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-gap: 20px;
place-items: auto center; 
position: relative;
}
    


  .navigation {
      display: flex;
      padding-top: 3em;
      padding-right: 3em;
      justify-self: end;
      font-family: var(--sans-serif-font);  
      
  }
  
  .navigation a{
      padding: 2em;
      color: #ffffff;
      text-decoration: none;
  }
  
  .navigation a:hover{
      color: #03beff; 
  }
  
  
  .navigation a:active{
      color: #03beff;
  }
  
      
    #footer {
      background-color: #141414;
      max-height: 40vh;
      
    }
  
    .twitter{
      padding-top: 4.5em;
      padding-left: 4em;
      max-width: 3em;
      position: relative;
      z-index: 1;
    float: left;
    }
  
    .instagram{
      padding-top: 4.5em;
      padding-left: 4em;
      max-width: 3em;
      position: relative;
      z-index: 1;
  float: left;
    }
  
    .facebook{
      padding-top: 4.5em;
      padding-left: 4em;
      max-width: 3em;
      position: relative;
      z-index: 1;
  float: left;
   }
  
   .instagram a:hover{
    color: #03beff; 
  }
  
  
  
  
    .footer-right{
    padding: 3em;
  
    max-width: 20em;
    float: right;
     
    }
  

    /* Style inputs with type="text", select elements and textareas */
    input[type=text], select, textarea {
    max-width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    font-family:"PT sans";
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: black;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: lightgrey;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }


    /* Loydence Group, (2020), Unknown [ONLINE]. Available at: 
    http://www.loydencegroup.com/loydence-printing.html 
    [Accessed 21 September 2020]. 
        background-image: url("Assets/Services/print.jpg");
        background-size: 100%;
        margin-top: 5em;
        margin-left: 2em;
        display: grid;
        place-items: center;
        grid-column: span 6;
        max-height: 50vh;
        color: white;
        font-size: larger;*/
      }
    